<div class="about">
    <div class="about__content">
        <h2 class="main-title">What is Fawateer?</h2>
        <p class="first">Fawateer is a solution that consists of issuing, transmitting, receiving, processing and storing invoices
            electronically, using specific document formats, these are digital throughout the entire document life
            cycle, from issuance to archiving.</p>
        <p> Fawateer can help replace manual tasks with automated business rules and
            actions to increase efficiency, minimize and error handling.</p>
    </div>
</div>