.about {
    display: flex;
    justify-content: center;
    padding: 10px 0 80px;
    .about__content {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-family: 'SegoeUI';
            text-align: center;
            margin: 0;
            color: #000;
            font-size: calc(16px + (20 - 16) * ((100vw - 768px) / (1920 - 768)));

            &.first {
                margin-bottom: 25px;
            }
        }
    }
}

@media (max-width: 768px) {
    .about {
        padding: 10px 0 50px;
        .about__content {
            width: 55%;
            p {
                font-size: 16px;
    
                &.first {
                    margin-bottom: 20px;
                }
            }
        }
    }
}


@media (max-width: 767px) {
    .about {
        .about__content {
            width: 80%;
         
        }
    }
}