<footer class="main-footer">

    <div class="main-footer__conatiner">
        <div class="row-wrapper">
            <div class="col-lg-3 col-sm-12">
                <div class="main-footer__image">
                    <img src="../../../assets/images/footer-logo.png" alt="logo footer image" >

                </div>

            </div>
            <div class="col-lg-9 col-sm-12">
                <div class="row-wrapper">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <ul>
                            <li>Home</li>
                            <li>What's fawateer?</li>
                            <li>Features</li>
                            <li>Benefits</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <ul>
                            <li>Terms and Conditions </li>
                            <li>Privacy Policy </li>
                            <li>Contact US</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="main-footer__news-update">
                          <h5 >News Updates</h5>
                          <div class="main-footer__news-update__container" *ngIf="!isNewUpdateSend">
                              <p>Leave your email to get our latest updates</p>
                              <div class="main-footer__news-update__input">
                                  <input type="text" placeholder="name@company.com">
                                  <button class="generic-btn generic-btn--footer" (click) = "sendNewsEmail()">Send</button>
                                </div>
                            </div>
                            <div class="main-footer__news-update__send" *ngIf="isNewUpdateSend">
                                <span class="icon-news"></span>
                                <p class="text-center">You are now subscribed to our newsletter</p>
                              </div>
                      </div>
                    </div>

                </div>
                
            </div>

        </div>
    </div>
</footer>
