<div class="services">
    <div class="services__container">
        <div class="row-wrapper">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <span class="icon-digital"></span>
                    </div>
                    <h3>Digital</h3>
                    <div class="services__item__dots">
                        <span class="circle-dot"></span>
                        <span class="circle-dot"></span>
                        <span class="circle-dot"></span>
                        <span class="circle-dot"></span>
                        <span class="circle-dot"></span>
                    </div>
                    <p class="text-center">Achieve complete digital invoice handling</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <span class="icon-flag"></span>
                    </div>
                    <h3>Compliant</h3>
                    <div class="services__item__dots">
                        <span class="circle-dot"></span>
                        <span class="circle-dot"></span>
                        <span class="circle-dot"></span>
                        <span class="circle-dot"></span>
                        <span class="circle-dot"></span>
                    </div>
                    <p class="text-center">Ensure compliance to country regulations</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <span class="icon-secure"></span>
                    </div>
                    <h3>Secure</h3>
                    <div class="services__item__dots">
                        <span class="circle-dot"></span>
                        <span class="circle-dot"></span>
                        <span class="circle-dot"></span>
                        <span class="circle-dot"></span>
                        <span class="circle-dot"></span>
                    </div>
                    <p class="text-center">High access and data security</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <span class="icon-accurate"></span>
                    </div>
                    <h3>Accurate data</h3>
                    <div class="services__item__dots">
                        <span class="circle-dot"></span>
                        <span class="circle-dot"></span>
                        <span class="circle-dot"></span>
                        <span class="circle-dot"></span>
                        <span class="circle-dot"></span>
                    </div>
                    <p class="text-center">Guarantees accurate data on inbound and outbound invoices</p>
                </div>
            </div>
        </div>

    </div>
  
</div>
