<header class="main-header">
    <div class="main-header__logo">
        <img src="../../../assets/images/logo.png" alt="">
    </div>
    <div class="main-header__list">
        <nav class="main-header__list__nav">
            <li class="main-header__list__nav__item"><a href="" class="active">Home</a></li>
            <li class="main-header__list__nav__item"><a href="">What is Fawateer?</a></li>
            <li class="main-header__list__nav__item"><a href="">Features</a></li>
            <li class="main-header__list__nav__item"><a href="">Benefits</a></li>
            <li class="main-header__list__nav__item"><a href="">Contacts Us</a></li>
        </nav>
    </div>
</header>