.features {
    padding: 150px 130px 150px 0;
    display: flex;
    justify-content: space-between;
    .features__image {
        width: 45%;
        background-image: url("../../../assets/images/features.png");
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 800px;
    }
    .features__content {
        width: 48%;
        .section-title {
            margin: 0 0 50px;
            padding: 0 0 0 115px;
        }
    }
    .features__content__item {
        display: flex;
        margin-bottom: 50px;
        .features__content__item__text {
            h4 {
                margin: 0;
                font-size: calc(22px + (29 - 22) * ((100vw - 768px) / (1920 - 768)));
                margin-bottom: 10px;
            }
            p {
                font-size: calc(16px + (20 - 16) * ((100vw - 768px) / (1920 - 768)));
                margin: 0;
            }
        }
        .features__content__item__icon {
            margin-right: 40px;
            min-width: 75px;
            .icon-automated-recieve,
            > span {
                font-size: calc(55px + (76 - 55) * ((100vw - 768px) / (1920 - 768)));
            }
            .icon-archiving,
            .icon-reachabiity,
            .icon-advanced-analytic {
                font-size: calc(55px + (65 - 55) * ((100vw - 768px) / (1920 - 768)));
            }
        }
    }
}

@media (max-width: 1366px) {
    .features {
        padding: 120px 100px 120px 0;

        .features__content__item {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 768px) {
    .features {
        padding: 80px 60px 80px 0;

        .features__content__item {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 767px) {
    .features {
        padding: 0;
        flex-direction: column;
        margin-bottom: 30px;

        .features__content__item {
            padding: 0 15px;
            margin-bottom: 25px;
            img {
                width: 27px;
            }

            .features__content__item__text {
                h4 {
                    font-size: 22px;
                }
                p {
                    font-size: 16px;
                }
            }
            .features__content__item__icon {
                margin-right: 20px;
                min-width: 50px;
                .icon-automated-recieve,
                > span {
                    font-size: 37px;
                }
                .icon-archiving,
                .icon-reachabiity,
                .icon-advanced-analytic {
                    font-size: 37px;
                }
            }
        }
        .features__image {
            width: 100%;
            min-height: 350px;
        }
        .features__content {
            width: 100%;
            .section-title {
                margin: 0 0 30px;
                padding: 0 0 0 15px;
            }
        }
    }
}
