<div class="features">
    <div class="features__image">

    </div>
    <div class="features__content">
        <h3 class="section-title bold">Features</h3>
        <div class="features__content__item">
            <div class="features__content__item__icon">
                <span class="icon-automated-recieve"></span>

            </div>
            <div class="features__content__item__text">
                <h4 class="bold">Automatically receive and send invoices:</h4>
                <p>Automating invoices results in faster payment period, it helps your business save costs, increase
                    scalability, and achieve the best ROI possible.</p>
            </div>
        </div>

        <div class="features__content__item">
            <div class="features__content__item__icon">
                <span class="icon-multi-foramte"></span>

            </div>
            <div class="features__content__item__text">
                <h4 class="bold">Multiple formats supported</h4>
                <p>Fawateer supports multiple formats and automatically convert information into structured data in
                    specific format</p>
            </div>
        </div>

        <div class="features__content__item">
            <div class="features__content__item__icon">
                <span> <img src="../../../assets/images/qr-code.png" alt="" srcset=""></span>

            </div>
            <div class="features__content__item__text">
                <h4 class="bold">Dynamic QR code</h4>
                <p>Fawateer system generates e-invoices with QR code that enable consumers to scan in invoices using
                    their mobile phone</p>
            </div>
        </div>


        <div class="features__content__item">
            <div class="features__content__item__icon">
                <span class="icon-reachabiity"></span>

            </div>
            <div class="features__content__item__text">
                <h4 class="bold">Reachability</h4>
                <p>Fawateer enables to send direct SMS and WhatsApp messages to your customers anywhere for generated
                    invoices, language and content are customizable</p>
            </div>
        </div>

        <div class="features__content__item">
            <div class="features__content__item__icon">
                <span><img src="../../../assets/images/invoices.png" alt="" srcset=""></span>
            </div>
            <div class="features__content__item__text">
                <h4 class="bold">Customize your invoices branding:</h4>
                <p>Fawateer allows you to customize your invoices content and branding</p>
            </div>
        </div>



        <div class="features__content__item">
            <div class="features__content__item__icon">
                <span class="icon-archiving"></span>

            </div>
            <div class="features__content__item__text">
                <h4 class="bold">Archiving:</h4>
                <p>Fawateer archives the e-invoices and provides the possibility to manage all of your invoices with
                    ease by storing them in one place.</p>
            </div>
        </div>

        <div class="features__content__item">
            <div class="features__content__item__icon">
                <span class="icon-seemless-integration"></span>

            </div>
            <div class="features__content__item__text">
                <h4 class="bold">Seamless integration:</h4>
                <p>Fawateer provides a safe and high integration capability with external systems (tax authority system,
                    internal systems ..)</p>
            </div>
        </div>


        <div class="features__content__item">
            <div class="features__content__item__icon">
                <span class="icon-advanced-analytic"></span>

            </div>
            <div class="features__content__item__text">
                <h4 class="bold">Advanced analytics:</h4>
                <p>Fawateer can help businesses acquire more insights about their invoices providing managers with the
                    capability to make smart, timely, and informed decisions.</p>
            </div>
        </div>

    </div>
</div>