<div class="benefits">
    <div class="benefits__content">
        
        <h4 class="section-title bold text-center">Fawateer Benefits</h4>
        <div class="content-container ">

            <div class="row-wrapper">
                <div class="col-lg-4">
                    <div class="benefits__item">
                        <div class="benefits__item__icon">
                            <span class="icon-time"></span>
                        </div>
                        <p class="text-center">Real-time delivery and processing</p>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="benefits__item">
                        <div class="benefits__item__icon">
                            <span class="icon-quick-invoice"></span>
                        </div>
                        <p class="text-center">Quick invoice delivery and period closing</p>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="benefits__item">
                        <div class="benefits__item__icon">
                            <span class="icon-no-humans"></span>
                        </div>
                        <p class="text-center">No human errors</p>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="benefits__item">
                        <div class="benefits__item__icon">
                            <span class="icon-data-exchange"></span>
                        </div>
                        <p class="text-center">Data exchange quickly and securely</p>

                    </div>

                </div>



                <div class="col-lg-4">
                    <div class="benefits__item">
                        <div class="benefits__item__icon">
                            <span class="icon-reduce-invoice"></span>
                        </div>
                        <p class="text-center">Reduced invoicing costs</p>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="benefits__item">
                        <div class="benefits__item__icon">
                            <span class="icon-enviromant-friendly"></span>
                        </div>
                        <p class="text-center">Environmentally friendly</p>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="benefits__item">
                        <div class="benefits__item__icon">
                            <span class="icon-faster-processing"></span>
                        </div>
                        <p class="text-center">Faster processing</p>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="benefits__item">
                        <div class="benefits__item__icon">
                            <span class="icon-efficient-implementation"></span>
                        </div>
                        <p class="text-center">Efficient implementation</p>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="benefits__item">
                        <div class="benefits__item__icon">
                            <span class="icon-heigh-tracebility"></span>
                        </div>
                        <p class="text-center">High traceability</p>

                    </div>

                </div>
            </div>
        </div>
    </div>
  
</div>